<div class="mat-elevation-z8">

    <div class="navb-modal">
        <h4 class="text-title">{{customer.customerName}} - Orders</h4>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="listPostdataSource" matSort>

            <ng-container matColumnDef="orderid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
                <td mat-cell *matCellDef="let customer">{{ customer.orderid }}</td>
            </ng-container>

            <ng-container matColumnDef="requireddate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Required Date</th>
                <td mat-cell *matCellDef="let customer">
                    {{ customer.requireddate | date:'MM-dd-yyyy h:mm:ss a' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="shippeddate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Shipped Date</th>
                <td mat-cell *matCellDef="let customer">
                    {{ customer.shippeddate | date:'MM-dd-yyyy h:mm:ss a' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="shipname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ship Name</th>
                <td mat-cell *matCellDef="let customer">{{ customer.shipname }}</td>
            </ng-container>

            <ng-container matColumnDef="shipaddres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ship Addres</th>
                <td mat-cell *matCellDef="let customer">{{ customer.shipaddress }}</td>
            </ng-container>

            <ng-container matColumnDef="shipcity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ship City</th>
                <td mat-cell *matCellDef="let customer">{{ customer.shipcity }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No data matching the filter</td>
            </tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    <mat-dialog-actions align="end">
        <button class="btn-text" mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>